html {
    height: 100%;
}

body {
    background-color: rgb(65, 65, 65);
    background-image: url(images/background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: scroll;
}

.container {
    /* Margin properties are used for div elements whereas text align is used for div contents. */
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
    padding-top: 20px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.33);
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

main.index {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 240px;
    padding-right: 240px;
    text-align: center;
}

main.menu {
    height: auto;
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;
}

article {
    text-align: center;
    padding-bottom: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 84px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

p.menu {
    padding-top: 10px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

p.item {
    padding-left: 34px;
    padding-right: 34px;
    font-size: 12.5px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.a-highlight {
    font-weight: bold;
}

/*Compound CSS classes*/
nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 11px;
    padding-right: 11px;
}

footer p {
    color: gray;
    font-size: 10px;
}

.column {
    float: left;
    width: 33.33%;
}

.column-2 {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 20px;
}